<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>向日葵.png</string>
	<string>吴亦凡.png</string>
	<string>吴佩慈.png</string>
	<string>唐僧.png</string>
	<string>奥特曼.png</string>
	<string>女神联盟.png</string>
	<string>宝贝受伤了.png</string>
	<string>宝贝的生日.png</string>
	<string>宝贝芭比.png</string>
	<string>小新.png</string>
	<string>快刀切水果.png</string>
	<string>来自星星的你.png</string>
	<string>死神狂潮.png</string>
	<string>爸爸去哪儿.png</string>
	<string>特工.png</string>
	<string>神庙逃亡.png</string>
	<string>美女.png</string>
	<string>西方美女.png</string>
</array>
</plist>
