<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>向日葵</string>
		<key>icon</key>
		<string>向日葵.png</string>
		<key>message</key>
		<string>我很阳光！</string>
	</dict>
	<dict>
		<key>title</key>
		<string>吴亦凡</string>
		<key>icon</key>
		<string>吴亦凡.png</string>
		<key>message</key>
		<string>我很帅！</string>
	</dict>
	<dict>
		<key>title</key>
		<string>吴佩慈</string>
		<key>icon</key>
		<string>吴佩慈.png</string>
		<key>message</key>
		<string>都说我美，哎，真是没办法。。❤️</string>
	</dict>
	<dict>
		<key>title</key>
		<string>唐僧</string>
		<key>icon</key>
		<string>唐僧.png</string>
		<key>message</key>
		<string>阿弥陀佛，悟空，你又调皮了！</string>
	</dict>
	<dict>
		<key>title</key>
		<string>奥特曼</string>
		<key>icon</key>
		<string>奥特曼.png</string>
		<key>message</key>
		<string>怪兽在哪里？</string>
	</dict>
	<dict>
		<key>title</key>
		<string>女神联盟</string>
		<key>icon</key>
		<string>女神联盟.png</string>
		<key>message</key>
		<string>你本来就很美！</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝贝受伤了</string>
		<key>icon</key>
		<string>宝贝受伤了.png</string>
		<key>message</key>
		<string>呜啊啊啊，呜啊啊。。。。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝贝的生日</string>
		<key>icon</key>
		<string>宝贝的生日.png</string>
		<key>message</key>
		<string>长大了，欧耶</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝贝芭比</string>
		<key>icon</key>
		<string>宝贝芭比.png</string>
		<key>message</key>
		<string>长大了就是美女芭比了，哈哈😄</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小新</string>
		<key>icon</key>
		<string>小新.png</string>
		<key>message</key>
		<string>大姐姐，你要去哪儿，带我玩吧。。。。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>快刀切水果</string>
		<key>icon</key>
		<string>快刀切水果.png</string>
		<key>message</key>
		<string>唰唰唰！刷啥唰！</string>
	</dict>
	<dict>
		<key>title</key>
		<string>来自星星的你</string>
		<key>icon</key>
		<string>来自星星的你.png</string>
		<key>message</key>
		<string>全智贤，你在哪儿？炸鸡已经买好了</string>
	</dict>
	<dict>
		<key>title</key>
		<string>死神狂潮</string>
		<key>icon</key>
		<string>死神狂潮.png</string>
		<key>message</key>
		<string>X 开，擦，哪个符号咋打出来啊？</string>
	</dict>
	<dict>
		<key>title</key>
		<string>爸爸去哪儿</string>
		<key>icon</key>
		<string>爸爸去哪儿.png</string>
		<key>message</key>
		<string>妈妈，爸爸去哪儿了，不要我们了吗？</string>
	</dict>
	<dict>
		<key>title</key>
		<string>特工</string>
		<key>icon</key>
		<string>特工.png</string>
		<key>message</key>
		<string>詹姆斯－邦德 就是偶～～</string>
	</dict>
	<dict>
		<key>title</key>
		<string>神庙逃亡</string>
		<key>icon</key>
		<string>神庙逃亡.png</string>
		<key>message</key>
		<string>妈妈，有怪物追着我！！</string>
	</dict>
	<dict>
		<key>title</key>
		<string>美女</string>
		<key>icon</key>
		<string>美女.png</string>
		<key>message</key>
		<string>帅哥在哪儿？</string>
	</dict>
	<dict>
		<key>title</key>
		<string>西方美女</string>
		<key>icon</key>
		<string>西方美女.png</string>
		<key>message</key>
		<string>大家好，我是奥黛丽－赫本，我的记者在哪儿？</string>
	</dict>
</array>
</plist>
